my
.refresh
__pycache__
.ipynb_checkpoints/
.vscode/
__res/
perf.data
perf.data.old
*.swp
*.ipynb
*.pdf
*.zip
*.tgz
test.py
extern/mkl/mkldnn_lnx*/*
build/
venv/
!*.src.md
!README.cn.md
!CHANGELOG.md
python/jittor.egg-info
jittor_geometric.egg-info/
docs/build/
dist/
!doc/source/*
core
*.log
dhp_test.py
dhp_test_arxiv.py
examples/data/
examples/run.sh
